<style type="text/css">
*{margin: 0; padding: 0;}
.fixSize {max-width: 800px;}
.justify {text-align: justify;}
</style>
<p class="center">
  <img src="./img/Logo_UFMG.jpg" width="150">
</p>
<h4 class="center">Departamento de Ciência da Computação</h4>
<h4 class="center">Visualização de Dados</h2>
<h4 class="center">Trabalho Prático 1</h3>
<p class="small center">
  Prof. Raquel C. de Melo Minardi
</p>

<br />
<p class="justify fixSize">
  Os gráficos gerados são <strong>Gráficos de Horizonte</strong> e são utilizados para visualizar e comparar uma grande quantidade de <strong>séries temporais</strong>. No caso apresentado, cada série temporal corresponde ao crescimento populacional de <strong>209 países</strong> do ano de <strong>1960 até 2010</strong>.
</p>

<p class="justify fixSize">
  Ao acessar a aplicação, as séries temporais de alguns países já estarão plotadas. Selecione os países que deseja visualizar na caixa de busca superior e gere os gráficos que quiser ou utilize uma das seleções por continente já criadas.
</p>

<p class="justify fixSize">
  Para qualquer seleção feita com os países:
  <ul class="checks">
    <li>utilize diferentes métodos de ordenação criados para visualizar diferentes padrões;</li>
    <li>arraste e reconfigure a faixa de valores para facilitar a visualização da informação que deseja;</li>
    <li>mude a orientação dos valores negativos do gráfico de horizonte.</li>
  </ul>
</p>

<p class="center" style="font-size: 10px;"><strong>Abril de 2012</strong></p>
<p class="center" style="font-size: 10px;">Testado em todos os Browsers. Melhor visualizado no Google Chrome e Opera.</p>

<table width="100%">
  <tr>
    <td class="center">
      André Taiar <br>
      <a href="mailto:taiar@dcc.ufmg.br">taiar@dcc.ufmg.br</a>
    </td>
    <td class="center">
      Gustavo Brunoro <br>
      <a href="mailto:brunoro@dcc.ufmg.br">brunoro@dcc.ufmg.br</a>
    </td>
  </tr>
</table>
